@font-face {
    font-family: light;
    src: url(fonts/light.ttf);
}

@font-face {
    font-family: semibold;
    src: url(fonts/semibold.ttf);
}

.LoaderWrapper {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;

    box-sizing: border-box;
    background-color: #1b1f22;

    border-radius: 0.5rem;
}

.LoaderContent {
    color: white;
}

.semibold{
    font-family: semibold;
}

.light{
    font-family: light;
}

.image{
    width: 80% !important;
    height: auto !important;
}

@keyframes blink {
    0% {
        opacity: .2;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: .2;
    }
}

.saving span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    font-family: light;
}

.saving span:nth-child(2) {
    animation-delay: .2s;
}

.saving span:nth-child(3) {
    animation-delay: .4s;
}